# Минимальная конфигурация для работы скрипта
# URL со списком ВСЕХ товаров (спецстраница YML на CS-Cart)
CATEGORY_URL=https://maki-tomsk.ru/yml/

# Все остальные параметры имеют значения по умолчанию и могут быть переопределены в .env при необходимости:
# SHOP_NAME=My Shop
# SHOP_COMPANY=My Company  
# SHOP_URL=https://example.com
# USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
# SELECTOR_PRODUCT_LINKS=li.item a
# SELECTOR_NEXT_PAGE=a.ty-pagination__next
# SELECTOR_TITLE=h1.ty-product-block-title
# SELECTOR_PRICE=span.ty-price-num
# SELECTOR_DESCRIPTION=div.kits-block
# SELECTOR_IMAGES=a.cm-image-previewer
# SELECTOR_ARTICLE=
# SELECTOR_AVAILABILITY=